html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  main {
    flex-grow: 1;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
  
  .footer-left h3 {
    font-size: 24px;
    background: linear-gradient(90deg, orange, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  
  .footer-left p {
    color: #fff;
  }
  
  .footer-center a, .footer-right a {
    color: #fff;
    margin: 5px 0;
    text-decoration: none;
  }
  
  .footer-right a img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-right: 20px;
  }
  
  .footer-right a:hover, .footer-center a:hover {
    text-decoration: underline;
  }
  


  /* Navigatiebalk styling */
.navbar {
  background-color: #333; /* Zelfde kleur als je footer voor consistentie */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
  background: linear-gradient(90deg, orange, black); /* Zelfde effect als in je footer */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 12px;
}

.nav-links a:hover {
  background-color: #555;
  border-radius: 5px;
}

/* Responsive layout voor mobiel */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    display: none;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
}